body {
    padding-top: 50px;
}

.navbar {
    padding: 0px 0px;
}

.navbar img {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffc82f;
    font-size: 16pt;
}

.fill-screen {
    background-size: cover;
    background-position: center;
}

.content-filler {
    min-height: 350px;
    background-color: #252525;
    /*for some reason, the content fillers were a little wider than the screen*/
    width: 100%;
    margin: 0px 0px;
}

.fixed-attachment {
    background-attachment: fixed;
}

@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}

#video-wallpaper {
    display: block;
    position: relative;
    width: auto;
    min-height: 100%;
    /*padding: 100px 0px;*/
    background: no-repeat center center;
    background-attachment: scroll;
    background-color: #252525;
    background-size: cover;
}
